.autocomplete {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;

  &__list {
    position: absolute;
    list-style: none;
    top: 25px;
    padding: 0;
    margin: 4px 0;
    background-color: $color-blue;
    border: 1px solid $color-gray;
    border-radius: 4px;
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
  }

  &__list-item {
    padding: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
  }
}
